.wrapper {
	margin: auto;
	max-width: 80%;
}

/* @media (min-width: 780px) {
	.wrapper {
		max-width: 760px;
	}
}

@media (min-width: 1280px) {
	.wrapper {
		max-width: 80rem;
	}
} */

@media (min-width: 1920px) {
	.wrapper {
		max-width: 95rem;
	}
}
