@import '../../shared/styles/colors.css';
@import '../../shared/styles/sizes.css';

.wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 3rem;
  width: 100%;
  height: var(--header-height);
}

.logo {
  display: flex;
}

.logoIcon {
  width: 36px;
  height: auto;
  padding-right: 7px;
}

.logoTitle {
  color: var(--black);
  font-size: 24px;
  font-weight: 700;
}

.navbar {
  display: flex;
  flex-grow: 1;
  align-items: flex-end;

  a {
    color: var(--black);
    margin-right: 2rem;
    font-size: 16px;
    text-decoration: none;
  }
}

.user {
  display: flex;
  align-items: center;
  height: 32px;
}

.userName {
  margin-left: 0.6rem;
  font-size: 16px;
  font-weight: 700;
}

.authButton {
  font-weight: 700 !important;
  color: var(--black) !important;
  background-color: var(--main-green) !important;
  margin-left: 1.5rem;
  height: 32px !important;
}